
@font-face {
    font-family: pokemon_solid;
    src: url(resources/Pokemon\ Solid.ttf);
}

@font-face {
    font-family: pokemon_hollow;
    src: url(resources/Pokemon\ Hollow.ttf);
}

html{
    background-image: url('resources/platinum_wallpaper.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

label{
    font-family: pokemon_hollow;
    color: yellow;
    -webkit-text-stroke-color: blue;
    -webkit-text-stroke-width: 10%;
    font-size: large;
}

ul{
    list-style-type: none;
    justify-content: center;
    margin: auto;
    padding: auto;
    background-color: #333333;
    overflow: auto;
    align-items: center;
    text-align: center;
    display: flex;
}

li{
    float: left;
    background-color: #333333;
    margin: 4px;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li a:hover{
    background-color: #111111;
}

h1, h2, p{
    text-align: center;
    font-family: pokemon_hollow;
    color: yellow;
}

img{
    display: block;
    justify-content: center;
    margin: auto;
}

table, th, td{
    border: 1px solid;
    margin-right: auto;
    margin-left: auto;
}

